p {
  color: var(--secondary-color);
  font-size: 1rem;
  padding-top: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}

.about-left {
  flex: 1;
}
.about-left p {
 color: var(--secondary-color);
 font-size: 1.2rem;
}

.about-right {
  flex: 1;
  text-align: center;
  
}

.about-right img {
  display: block;
  margin: auto;
  margin-top: 2rem;
  height: 250px;
  border: solid 3px var(--secondary-color);
}
